<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spider-Man 🕸️</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="square square_border-color_red">
        <div class="rope rope_background-color_white">
          <div class="legs legs_box-shadow legs_background_color_transparent">
            <div
              class="boot-left boot_background-color_red boot_border-color_blue boot_border-bottom-color_blue boot_border-left-color_transparent boot_border-bottom-color_red boot_border-left-color_transparent"
            ></div>
            <div
              class="boot-right boot_background-color_red boot_border-color_blue boot_border-bottom-color_blue boot_border-left-color_transparent boot_border-bottom-color_red boot_border-left-color_transparent"
            ></div>
          </div>
          <div class="costume costume_border-color_blue">
            <div class="spider spider_background-color_blue">
              <div class="s1 s_border-bottom-color_blue"></div>
              <div class="s2 s_border-bottom-color_blue"></div>
              <div class="s3 s_border-bottom-color_blue"></div>
              <div class="s4 s_border-bottom-color_blue"></div>
            </div>
            <div
              class="belt belt_background-color_red belt_border-color_blue"
            ></div>
            <div class="hand-left hand_border-color_blue"></div>
            <div class="hand-right hand_border-color_blue"></div>
            <div
              class="neck neck_background-color_red neck_border-color_blue"
            ></div>
            <div class="mask mask_background-color_red mask_border-color_blue">
              <div
                class="eye-left eye_background-color_white eye_border-color_black"
              ></div>
              <div
                class="eye-right eye_background-color_white eye_border-color_black"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
